*{
    margin: 0;
    padding: 0;
    
}

h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;

}
.form-cont{
    text-align: center;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
}
input{
    margin-top: 1rem;
    width: 15rem;
    height: 1.75rem;
    border-radius: 3px;
    
}

label{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}

button{
    margin-right: 50px;
    margin-top: 1rem;
    background-color: #007BFF;
    color: white;
    height: 45px;
    width: 100px;
    border: none;
    font-weight: 600;

}

.msg{
    margin-right: 50px;
    margin-top: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}